@media (min-width: 1024px) {
  .bgElectrofiying {
    background-image: url("../../assets/images/frontend/white-skew.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bgPurpleSkew {
    background-image: url("../../assets/images/frontend/purple-skew.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
