.brands {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 5%,
    #000 30%,
    #000 70%,
    transparent 95%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 5%,
    #000 30%,
    #000 70%,
    transparent 95%
  );
  overflow: hidden;
  gap: 0;
}

.partnerMoveLeft,
.partnerMoveRight {
  animation-duration: 60000ms;
  animation-iteration-count: infinite;
  animation-name: leftToRight;
  animation-timing-function: linear;
  width: fit-content;
}
.partnerMoveLeft {
  animation-direction: normal;
}
.partnerMoveRight {
  animation-direction: reverse;
}

@keyframes leftToRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
