@media (min-width: 1024px) {
  .heroGrid {
    grid-template-areas:
      "a a b"
      "a a c";
  }
}

.styledScrollbar::-webkit-scrollbar {
  border-radius: 1rem;
  width: 10px;
}

.styledScrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #ccc;
}
.styledScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}